<%
  const enquiryUrl = `/contact-us?subject=${encodeURIComponent(getValue(film, "name", "PVC Decorative Film"))}`;
%>
<article class="louver-card is-visible">
  <div class="louver-card__visual">
    <a
      class="louver-card__image-link"
      href="<%= enquiryUrl %>"
      aria-label="Enquire for <%= getValue(film, "name", "PVC Decorative Film") %>"
    >
      <img
        class="louver-card__image"
        src="<%= getValue(film, "image", "") %>"
        alt="<%= getValue(film, "name", "PVC Decorative Film") %> PVC decorative film finish"
        loading="lazy"
        decoding="async"
      />
    </a>
  </div>
  <h3 class="louver-card__name"><%= getValue(film, "name", "PVC Decorative Film") %></h3>
  <div class="louver-card__body">
    <p class="louver-card__label">Film details</p>
    <dl class="louver-card__specs">
      <div class="louver-card__spec"><dt>Finish</dt><dd><%= getValue(film, "finish", "-") %></dd></div>
      <div class="louver-card__spec"><dt>Texture</dt><dd><%= getValue(film, "texture", "-") %></dd></div>
      <div class="louver-card__spec"><dt>Application</dt><dd><%= getValue(film, "application", "-") %></dd></div>
      <div class="louver-card__spec"><dt>Roll size</dt><dd><%= getValue(film, "rollSize", "-") %></dd></div>
      <div class="louver-card__spec"><dt>Thickness</dt><dd><%= getValue(film, "thickness", "-") %></dd></div>
    </dl>
    <p class="louver-card__note">Shade details are indicative. Confirm final selection with samples.</p>
    <a class="louver-card__enquiry" href="<%= enquiryUrl %>">Enquire now</a>
  </div>
</article>
